{% extends 'base.html' %}

{% block content %}
<div class="row justify-content-center mb-1">
    <div class="col-12">
        <form method="POST">
            {% csrf_token %}

            <div class="form-row">
                <div class="col-12">
                 <div>
                        {{ form.name.label_tag }}
                        {{ form.name }}
                    </div>
                    <div>
                        {{ form.ChatGPT }}
                        {{ form.ChatGPT.label_tag }}
                    </div>
                    <div>
                        {{ form.Claude2 }}
                        {{ form.Claude2.label_tag }}
                    </div>
                    <div>
                        {{ form.PaLM2 }}
                        {{ form.PaLM2.label_tag }}
                    </div>
                    <div>
                        {{ form.LLaMA }}
                        {{ form.LLaMA.label_tag }}
                    </div>
                    <!--ここはのちにフロントで修正-->
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                </div>
            </div>

            <div class="form-row mt-3">
                <div class="col-6">
                    <button type="submit" class="btn btn-primary btn-block">Registration/Update</button>
                </div>
                <div class="col-6">
                    <a href="{% url 'chat:index' %}" class="btn btn-secondary btn-block">Cancel</a>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}